<?xml version='1.0'?>
<!-- Copyright (c) 2016 Robert Bosch GmbH, Germany. (This should probably 
     be changed to NTNU or similar, but I don't know enough about Apache.)
     All rights reserved.

    This file is licensed under the Apache 2.0 license found in the
    LICENSE file in the root directory of this source tree.
-->
<model>
  <name>Equinor dock</name>
  <version>0.0.1</version>
  <sdf>model.sdf</sdf>
  <author>
    <name>Jakob Jernsletten</name>
    <email>jakobj@stud.ntnu.no</email>
  </author>
  <description>
    A dock made by Equinor and NTNU.
  </description>
</model>
